<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Haarika Kalahasti</title>
    </head>
    <body>
        <a href=/hello>Home Page</a>
        <h1>My Hometown</h1>
            <p>I currently live in <strong>Ashburn, VA</strong>. I was born in <strong>Reston, VA</strong>, but lived in Herndon all my life. </p>
        <h2>Family Life</h2>
        <p> I am an <em>only child</em> born to two Indian immigrants. Luckily, a lot of my extended family lives nearby. </p>
        <h2> Interests</h2>
            <p>Below is a list of some of my hobbies:</p>
            <ul>
                <li>Writing</li>
                <li>Cooking/Baking</li>
                <li>Music</li>
                <li>Binging Shows</li>
            </ul>
            <p> Below are my top 3 artists at the moment:</p>
            <ol>
                <li><em><a href="https://www.instagram.com/sza/" target="_blank">SZA</a></em></li>
                <li><em><a href="https://www.instagram.com/tatemcrae/">Tate McRae</a></em></li>
                <li><em><a href="https://www.instagram.com/billieeilish/">Billie Eilish</a></em></li>
                <!--This is an ordered list of my top artists.-->
            </ol>
        <h2> Education </h2>
            <p>I am currently pursuing a bachelors degree in sciences, and majoring in <strong><em>Information Systems</em></strong> at the Robert H. Smith School of business.</p>
            <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
            <!-- Added Smith school logo above!-->
            <p>Here are some of the courses I took for my major:</p>
            <table>
                <tr>
                    <th>Course</th>
                    <th>Semester taken</th>
                </tr>
                <tr>
                    <th>BMGT302</th>
                    <th>Spring 2023</th>
                </tr>
                <tr>
                    <th>BMGT402</th>
                    <th>Spring 2023</th>
                </tr>
                <tr>
                    <th>BMGT403</th>
                    <th>Fall 2023</th>
                </tr>
                <tr>
                    <th>BMGT407</th>
                    <th>Spring 2023</th>
                    <!--This is the course I am currently enrolled in!-->
                </tr>
            </table>
    </body>

</html>